<form action="/posts/new" method="post">
  <label for="title">title</label>
  <input type="text" name="title" id="title" class="form-control">
  <br>
  <label for="message">message</label>
  <input type="text" name="message" id="message" class="form-control">
  <br>
  <input type="submit" value="submit" class="btn-danger">
</form>