<h1>Contact details</h1>

<h2>Name: </h2>
<h2><%= @contact.name %></h2>
<hr>
<h2>Email:</h2>
<h2><%= @contact.email %></h2>
<hr>
<h2>Text:</h2>
<h2><%= @contact.text %></h2>
<hr>
<a href="/contactall">Come back</a>
